:root {
  --bg-primary-clr: #f1fff8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  background-color: var(--bg-primary-clr);
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
}

.left-top {
  background-color: #1bd8ac;
  position: absolute;
  top: -20rem;
  left: -25rem;
  height: 50rem;
  width: 50rem;
  border-radius: 50%;
  filter: blur(16rem);
  z-index: -1;
}

.center-top {
  background-color: #56b3ca;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 25rem;
  width: 100rem;
  filter: blur(16rem);
  z-index: -1;
}

.right-top {
  background-color: #61e096;
  position: absolute;
  top: -25rem;
  right: -25rem;
  height: 50rem;
  width: 50rem;
  border-radius: 50%;
  filter: blur(16rem);
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.2rem;
  height: 70vh;
  position: relative;
}

.header__logo {
  height: 38rem;
  width: 38rem;
  position: absolute;
  top: -12rem;
  left: 50%;
  transform: translateX(-50%);
}

.header__title {
  font-size: 4.8rem;
  text-align: center;
  margin-top: 15rem;
}

.header__tagline {
  font-size: 2.2rem;
  text-align: center;
}

.header__form {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__input {
  width: 90%;
  border-radius: 10rem;
  border: 1px solid lightgray;
  padding: 2rem 2.5rem;
  font-size: 1.6rem;
}

.header__input::placeholder {
  font-size: 1.6rem;
  color: #000;
}

.header__button {
  padding: 1.5rem 2rem;
  border-radius: 10rem;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  right: 0.25rem;
  transform: translateY(-50%);
}

.header__button:hover {
  background-color: #3f3f45;
  cursor: pointer;
}

.header__small {
  font-size: 1.4rem;
  text-align: center;
  line-height: 2.2rem;
}

.marketplace {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.2rem;
}

.usp {
  padding: 0 9rem;
  margin-top: 6.2rem;
}

.usp__list {
  display: flex;
  list-style: none;
  gap: 6.2rem;
}

.usp__list-item {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  flex: 1;
}

.material-symbols-outlined {
  font-size: 3.5rem;
  background-color: #a5e3b9;
  width: 3rem;
  padding: 1.5rem;
  border-radius: 1rem;
}

.usp__title {
  font-size: 2.4rem;
}

.usp__description {
  font-size: 2rem;
}
